/* Project */
.employee{
    border: thin solid var(--xanadu);
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
    margin: 0 4px 4px 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.selected-employee{
    background-color: var(--xanadu);
    color: white;
}





/* Roles */
.role{
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%); */
    border-radius: 5px;
    padding: 20px;
    border: thin solid rgba(0,0,0,.125);
}
#role-progress{
    padding: 10px 0;
    background-color: white;
    position: sticky;
    top: 72px;
    z-index: 4;
}
.objective > p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}